<main>
    <section class="section section-shaped section-lg text-black">
        <div class="container pt-md">
            <div class="row">

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="text-center">Корзина</h6>
                            <div *ngIf="productInCart.length == 0">
                                <div class="text-center">корзина пуста, <a routerLink="/home">выберите продукты</a></div>
                            </div>

                            <div *ngIf="productInCart.length > 0">
                                <div *ngFor="let product of productInCart">
                                    <div class="row border-bottom mb-2" *ngIf="!product.removed">
                                        <div id="cart" class="col-5">
                                            <button class="btn btn-sm btn-warning"
                                                (click)="remove(product);product.removed=true;this.calculateCart()">
                                                <i class="ni ni-fat-remove"></i>
                                            </button>
                                            {{ product.title }}
                                        </div>
                                        <div class="col-3">
                                            {{ product.amount * product.price }}
                                        </div>
                                        <div class="col-4">
                                            <button class="btn btn-sm btn-default"
                                                (click)="product.amount = decrement(product.amount);calculateCart(); updateProductAmount(product.id, product.amount);">
                                                <i class="ni ni-fat-delete"></i>
                                            </button>

                                            <span>{{ product.amount }}</span>
                                            <!-- <input class="amount-input" min="1" max="10" readonly type="text" [(ngModel)]="product.amount" /> -->

                                            <button class="btn btn-sm btn-default plus-btn "
                                                (click)="product.amount = increment(product.amount); calculateCart(); updateProductAmount(product.id, product.amount);">
                                                <i class="ni ni-fat-add"></i>
                                            </button>
                                        </div>

                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-5">
                                        <div class="border-bottom">Общая сумма</div>
                                        <div class="border-bottom">Доставка</div>
                                        <div class="border-bottom">Итог</div>
                                    </div>
                                    <div class="col-3">
                                        <div class="border-bottom">{{productPriceTotal}}</div>
                                        <div class="border-bottom">{{deliveryPrice}}</div>
                                        <div class="border-bottom"><strong>{{totalPrice}}</strong></div>

                                    </div>
                                    <div class="col-4"></div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="text-center">Ваши данные</h6>
                            <form role="form" #form="ngForm">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <input [(ngModel)]="address.street" class="form-control" placeholder="Улица"
                                            type="text" name="street" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div><input [(ngModel)]="address.entrance" class="form-control"
                                                placeholder="Подьезд" type="number" name="entrance" required></div>
                                        <div><input [(ngModel)]="address.floor" class="form-control" placeholder="Этаж"
                                                type="number" name="floor" required></div>
                                        <div><input [(ngModel)]="address.flat" class="form-control"
                                                placeholder="Квартира" type="number" name="flat" required></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <!-- <div class="input-group-prepend"> -->
                                        <!-- <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span> -->
                                        <!-- </div> -->
                                        <input [(ngModel)]="address.fullname" class="form-control required"
                                            placeholder="Имя" name="fullname" type="text" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <input [(ngModel)]="address.phone" class="form-control"
                                            placeholder="Номер телефона" name="phone" type="text" required>
                                    </div>
                                </div>
                                <div class="font-italic">
                                    <small> все поля обязательны к заполнению</small>
                                    <!-- <span class="text-success font-weight-700">strong</span> -->
                                </div>
                                <!-- <div class="row my-4">
                                    <div class="col-12">
                                        <div class="custom-control custom-control-alternative custom-checkbox">
                                            <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                                            <label class="custom-control-label" for="customCheckRegister">
                                                <span>I agree with the
                                                    <a href="javascript:void(0)">Privacy Policy</a>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div> -->
                                <div>
                                    <button [disabled]="!form.valid" type="button" class="btn btn-primary mt-4"
                                        (click)="startOrder()">Заказать</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>