<main>
    <section class="section section-shaped section-lg text-black">
        <div class="container pt-md">
            <div class="row">
                <div class="col-md-12">
                    <div><a routerLink="/" fragment="want-buy">Выбрать продукт</a></div>
                </div>
            </div>
            <div class="row">

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="text-center">Корзина</h6>

                            <div *ngIf="productInCart.length == 0">
                                <div class="text-center">корзина пуста, <a routerLink="/" fragment="want-buy">выберите
                                        продукты</a></div>
                            </div>

                            <div *ngIf="productInCart.length > 0">

                                <table>
                                    <tbody>
                                        <ng-container *ngFor="let product of productInCart">
                                            <tr class="border-bottom pb-2" *ngIf="!product.removed">

                                                <td>
                                                    <button class="btn btn-sm btn-danger"
                                                        (click)="remove(product);product.removed=true;calculateCart()">
                                                        <i class="ni ni-fat-remove"></i>
                                                    </button>
                                                </td>

                                                <td>
                                                    <div class="hide-on-overflow">{{ product.title }}</div>
                                                </td>
                                                <td>{{ product.amount * product.price }}</td>
                                                <td>
                                                    <button class="btn btn-sm btn-default"
                                                        (click)="product.amount = decrement(product.amount);calculateCart(); updateProductAmount(product.id, product.amount);">
                                                        <i class="ni ni-fat-delete"></i>
                                                    </button>
                                                </td>
                                                <td><span>{{ product.amount }}</span></td>
                                                <td>
                                                    <button class="btn btn-sm btn-default plus-btn "
                                                        (click)="product.amount = increment(product.amount); calculateCart(); updateProductAmount(product.id, product.amount);">
                                                        <i class="ni ni-fat-add"></i>
                                                    </button>
                                                </td>
                                            </tr>
                                        </ng-container>
                                        <tr></tr>
                                        <tr>
                                            <td></td><td  class="border-bottom">Всего</td><td  class="border-bottom" colspan="4">{{productPriceTotal}}</td>
                                        </tr>
                                        <tr>
                                            <td></td><td class="border-bottom">Доставка</td><td class="border-bottom" colspan="4">{{deliveryPrice}}</td>
                                        </tr>
                                        <tr>
                                            <td></td><td>Итог</td><td colspan="4">{{totalPrice}}</td>
                                        </tr>
                                </tbody>
                                </table>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="col-lg-6">
                    <div class="card">
                        <div class="card-body">
                            <h6 class="text-center">Ваши данные</h6>
                            <form role="form" #form="ngForm">
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <input [(ngModel)]="address.street" class="form-control" placeholder="Улица"
                                            type="text" name="street" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div><input [(ngModel)]="address.entrance" class="form-control"
                                                placeholder="Подьезд" type="number" name="entrance" required></div>
                                        <div><input [(ngModel)]="address.floor" class="form-control" placeholder="Этаж"
                                                type="number" name="floor" required></div>
                                        <div><input [(ngModel)]="address.flat" class="form-control"
                                                placeholder="Квартира" type="number" name="flat" required></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <!-- <div class="input-group-prepend"> -->
                                        <!-- <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span> -->
                                        <!-- </div> -->
                                        <input [(ngModel)]="address.fullname" class="form-control required"
                                            placeholder="Имя" name="fullname" type="text" required>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <input [(ngModel)]="address.phone" class="form-control"
                                            placeholder="Номер телефона" name="phone" type="text" required>
                                    </div>
                                </div>
                                <div class="font-italic">
                                    <small> все поля обязательны к заполнению</small>
                                    <!-- <span class="text-success font-weight-700">strong</span> -->
                                </div>
                                <!-- <div class="row my-4">
                                    <div class="col-12">
                                        <div class="custom-control custom-control-alternative custom-checkbox">
                                            <input class="custom-control-input" id="customCheckRegister" type="checkbox">
                                            <label class="custom-control-label" for="customCheckRegister">
                                                <span>I agree with the
                                                    <a href="javascript:void(0)">Privacy Policy</a>
                                                </span>
                                            </label>
                                        </div>
                                    </div>
                                </div> -->
                                <div>
                                    <button [disabled]="!form.valid" type="button" class="btn btn-primary mt-4"
                                        (click)="startOrder()">Заказать</button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </section>
</main>