
<div>
    <p>Продукты <button routerLink="/admin/products/new" type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm ">+</button>    
    </p>
</div>


<table class="table">
    <thead>
        <tr>
            <th class="text-center">#</th>
            <th>Название</th>
            <th>Описание</th>
            <th>цена</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of products;let index = index">
            <td class="text-center">{{index+1}}</td>
            <td>{{ product.title }}</td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td class="td-actions text-right">
              <button routerLink="/admin/products/edit/1"  type="button" rel="tooltip" class="btn btn-success btn-icon btn-sm " data-original-title="" title="">
                <i class="ni ni-settings-gear-65 pt-1"></i>
              </button>
              <button (click)="delete(production.id)" type="button" rel="tooltip" class="btn btn-danger btn-icon btn-sm " data-original-title="" title="">
                <i class="ni ni-fat-remove pt-1"></i>
                </button>
            </td>
        </tr>
    </tbody>
</table>
