/* You can add global styles to this file, and also import other style files */

.w-300 {
    width: 300px;
}

.w-230 {
    width: 230px;
}

.hide-on-overflow {
    width: 145px;
    height: 20px;
    overflow: hidden;
}